@{
    ViewData["Title"] = "Book your room";
}

<div class="text-center">
    <h2 class="display-4">Čestitamo!</h2>
</div>

<div class="text-center">
    Uspešno ste opravili rezervacijo sobe.

    Zahvaljujemo se Vam za zaupanje in se že veselimo Vašega prihoda. Prejeli ste tudi potrditveni email.
</div>