@{
    ViewData["Title"] = "Book your room";
}

<div class="text-center">
    <h2 class="display-4">Welcome to the page for booking the best rooms!</h2>
</div>

<div class="text-left">

    <ul>Datum prihoda:</ul>

    <ul>Datum odhoda:</ul>

    <ul>Izbira sobe:</ul>

    <ul>Ime in priimek:</ul>

    <ul>Email:</ul>

    <ul>Telefonska številka:</ul>
        
    <ul>Opomba / sporočilo:</ul>
    
</div>